.transactionHistory {
    width: 400px;
    color: white;
    background-color: black;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    border: 1px solid white;
}

thead th {
    font-weight: 500;
}

th {
    letter-spacing: 3px;
}

td {
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
}

tbody td {
    text-align: center;
}