.transactionHistory {
    width: 400px;
    color: white;
    background-color: #08122b;
}

th,
td {
    padding: 5px;
    border: 1px solid white;
}

th {
    font-weight: 500;
    color: #08122b;
    background-color: white;

    letter-spacing: 3px;
}

td {
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
}

tr:nth-child(2n) {
    background-color: #051b3a;
}

tbody td {
    text-align: center;
}